body{
    background-color: rgb(2, 9, 32);
    color: white;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
    position: fixed;
    top: 0;
    width:100%;
    background-color: black;
    z-index: 1000;
}
img{
    width: 400px;
}
a{
    text-decoration:none;
}
.subtittle{
    font-size: 35px;
    padding-top: 10px;
    text-align: center;
    text-shadow: 2px 3px 1px #020e0ff6;
    
}
ul{
    list-style: none;
    padding-bottom: 20px;
}


/*logo*/
.container{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 35%;
    left: 12%;
    display: inline-flex;
    filter: brightness(300%);
    overflow: hidden;
}
.txt{
    color: white;
    background-color: black;
    font-size: 70px;
    font-weight: bold;
    
}
.txt::before{
    content:'Luisana' ;
    position: absolute;
    mix-blend-mode: difference;
    filter: blur(2px);
}
.txt_gradient{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
    background: linear-gradient(114.5793141156962deg, rgb(5, 5, 179) 4.927083333333334%, rgb(0, 255, 234) 97.84374999999999%);
}
.txt_dodge{
    position: absolute;
    top: -100%;
    left: -100%;
    right: 0;
    bottom: 0;
    mix-blend-mode: color-dodge;
    background: radial-gradient(circle, white, black 35%) center / 25% 25%;
    animation: neon 3s linear infinite;
}
@keyframes neon{
    to{
        transform: translate(50%,50%);
    }
}


/*menu*/
.menu{
    display: flex;
    list-style: none;
    height: 35px;
}
.menu a{
    font-size: 23px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    
}
.menu li{
    width: 220px;
    height: 42px;
    text-align: center;
    padding-top: 6px;
    background-color: black;
    box-shadow: 0px 6px 10px blue;
    text-shadow: 2px 2px 2px blue;
}   
#check{
display: none;
}
.A{
    margin-left: 20%;
}                                                                                     

.menu li:hover a{
    font-size: 24px;
    color: #26fffff6;
    text-shadow: 0px 0px 0px ;
} 
.menu li:hover{
    box-shadow: 0px 10px 10px #00f8f8f6;
    text-shadow: 2px 2px 2px #26fffff6;
}
    /*language*/
    .language-es img{
        width: 50px;
        margin-top: 12%;
        margin-left: 90%;
        border-radius: 5px;
        padding-bottom: -10px;
    }

    .language-es a:hover img{
        box-shadow: 0px 5px 15px #faa60af6;
    }


    .language-en img{
        width: 50px;
        margin-top: 12%;
        margin-left: 90%;
        border-radius: 5px;
        padding-bottom: -10px;
    }

    .language-en a:hover img{
        box-shadow: 0px 5px 15px #6178f8;
    }
    .checkbtn{
        position: absolute;
        cursor: pointer;
        top: 15px;
        right: 30px;
        font-size: 20px;
        display: none;
    }
/*Home*/

#Home{
    background-image: url("images/image1.png");
    width: 100%;
    height: 700px;
    margin-top: 80px;
}
h1{
   text-align: center;
   font-size: 60px;
   padding-top: 12%;
   padding-left: 8%;
   padding-right: 5% ;
   color: rgba(231, 231, 231, 0.918);
   text-shadow: 2px 3px 1px #020e0ff6;
   
}
.Me{
    display: flex;
    height: 500px;
}
.Luisana{
    width: 460px;
    height: 450px;
    margin-top: 9%;
    margin-left: 5%;
    border-radius: 100%;
    box-shadow: 20px 20px 20px rgba(4, 5, 5, 0.829) ;
}

/*About me*/
#Aboutme{
    background-color: rgba(12, 10, 161, 0.233);

}
    /*conocimientos*/
    .contenido-slider{
        margin-block-end: 1px;
        width: 100%;
        height: 410px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-shrink: 0;
        
    }
    .contenido-slider:nth-child(1){
        background:linear-gradient( #4f7ed6 10%, #10469eb6 80%);
        color: white;
    }
    .contenido-slider:nth-child(2){
        background:linear-gradient( #4f7ed6 10%, #10469eb6 80%);
        color: rgb(255, 255, 255);
    }
    .contenido-slider:nth-child(3){
        background:linear-gradient( #4f7ed6 10%, #10469eb6 80%);
        color: white;
    }
    .contenido-slider:nth-child(4){
        background:linear-gradient( #4f7ed6 10%, #10469eb6 80%);
        color: white;
    }
    .contenido-slider:nth-child(5){
        background:linear-gradient( #4f7ed6 10%, #10469eb6 80%);
        color: white;
    }
    .contenido-slider:nth-child(6){
        background:linear-gradient( #4f7ed6 10%, #10469eb6 80%);
        color: white;
    }

    .contenido-slider h2{
     font-size: 50px;
     text-shadow: 2px 3px 1px #000000f6;
     margin-top: -30px;
     text-align: center;
     
    }
    .contenedor{
        width: 100%;
        overflow: hidden;
        box-shadow: 0px 30px 20px rgba(0, 2, 10, 0.753) ;
    }
    .slider-contenedor{
        width: 100%;
        display: flex;
    }
    .html{
        width: 20%;
        
      }
    .css{
        width: 15%;
        
    }
    .js{
        width: 15%;
    }
    .php{
        width: 20%;
    }
    .java{
        width: 25%;
    }
    .progress{
        height: 20%;
        width: 800px;
        border: solid 1px white;
    
    }
    .progresshtml{
        height: 40px;
        width: 90%;
        background-color: rgba(255, 97, 5, 0.836);
    }
    .progresscss{
        height: 40px;
        width: 90%;
        background-color: rgba(3, 15, 124, 0.836);
    }
    .progressjs{
        height: 40px;
        width: 60%;
        background-color: rgba(255, 230, 5, 0.836);
    }
    .progressphp{
        height: 40px;
        width: 10%;
        background-color: rgba(29, 3, 124, 0.836);
    }
    .progressjava{
        height: 40px;
        width: 10%;
        background-color: rgba(170, 2, 2, 0.836);
    }
    
    /* Button download*/
    .Button {
        box-shadow:inset 0px 1px 0px 0px #97c4fe;
        background:linear-gradient(to bottom, #579ce6 5%, #1453b8 100%);
        background-color:#579ce6;
        border-radius:6px;
        border:1px solid #2361b8;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Georgia;
        font-size:30px;
        font-weight:bold;
        padding:6px 24px;
        text-decoration:none;
        text-shadow:0px 1px 0px #1570cd;
        width: 280px;
        height: 90px;
        margin-left: 40% ;
        margin-bottom: 2% ;
        box-shadow: 0px 10px 10px rgb(0, 0, 0);
    }
    .Button:hover {
        background:linear-gradient(to bottom, #1453b8 5%, #579ce6 100%);
        background-color:#1453b8;
    }
    .Button:active {
        position:relative;
        top:1px;
    }
    
/*Projects*/

#Projects{
    background-color: rgba(12, 10, 161, 0.233);
}
.Projects1 ul{
    display:flex;
}
.Projects1 ul li{
    display:flex;
    margin: 6%;
}
.project{
    background:linear-gradient( #4f7ed6 10%, #10469eb6 80%);
    width: 500px;
    height: 400px;
    text-align: justify;
}
.project p{
    margin: 3%;
    color: white;
    padding-bottom: 1%;
}
.proyecto{
   width: 450px;
   margin: 5%;
   margin-bottom: -1%;
}
.project:hover {
	background:linear-gradient( #72abe9 5%, #1b5cc5 100%);
	background-color:#1453b8;
}

/*Contact*/

:root{
    --GitHub: rgba(75, 75, 75, 0.527);
    --Linkedin: rgb(38, 94, 247);
    --Whatsapp: green;
}

.redes-container{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    margin-left: -4%;
    margin-top: -3%;
}
.redes-container ul li{
    display: inline-block;
    padding: 5px;
    height: 80px;
    width: 80px;
    
}
.redes-container ul li a{
    display: block;
    padding: 0px 10px;
    border-radius: 20px;
    background-color: black;
    color: white;
    box-shadow: 0px 6px 10px rgb(0, 0, 255);
    text-shadow: 2px 2px 2px rgb(0, 0, 255);
    line-height: 80px;
}

.redes-container ul li .Github:hover{
    background: var(--GitHub);
    box-shadow: 0px 6px 10px #26fffff6;
    text-shadow: 2px 2px 2px #010e0ef6;
    color: #26fffff6;
}
.redes-container ul li .Linkedin:hover{
    background: var(--Linkedin);
    box-shadow: 0px 6px 10px #26fffff6;
    text-shadow: 2px 2px 2px #010e0ef6;
    color: #26fffff6;
}.redes-container ul li .Whatsapp:hover{
    background: var(--Whatsapp);
    box-shadow: 0px 6px 10px #26fffff6;
    text-shadow: 2px 2px 2px #010e0ef6;
    color: #26fffff6;
}
footer{
    text-align: center;
    color: white;
}
footer p{
    margin-top: 5px;
    margin-bottom: 1%;

}
footer a{
    margin-top: -8%;
    color: white;
}
footer a:hover{
    color: #26fffff6;
}


/*responsive design*/

@media (max-width:1300px){
    .progress{
        width: 500px;
    }
    .Luisana{
        width: 400px;
        height: 390px;
    }
    h1{
        font-size: 50px;
     }
    .contenido-slider h2{
        font-size: 35px;
    }
    .Button {
        margin-left: 37% ;
        margin-bottom: 3% ;
    }
    #Home{
        height: 550px;
        margin-top: 30px;
    }
    .menu a{
        font-size: 18px;
    }
    .txt{
        font-size: 60px;
    }
    .menu{
        height: 25px;
    }
    .menu li{
        width: 170px;
        height: 38px;
    }  
    .language-es img{
        width: 45px;
        margin-top: 13%;
        margin-left: 70%;
    }
    .language-en img{
        width: 45px;
        margin-top: 13%;
        margin-left: 70%;
    } 
    .project{
        width: 400px;
        height: 300px;  
    }
    .project p{
        margin: 3%;
        color: white;
        padding-bottom: 1%;
        font-size: 12px;
    }
    .proyecto{
       width: 350px;
       margin: 5%;
       margin-bottom: -1%;
    }
    .menu li:hover a{
        font-size: 19px;
    }   
}
@media (max-width:1000px){
    .Button {
        margin-left: 35% ;
        margin-bottom: 3% ;
    }
    .menu a{
        font-size: 18px;
    }
    .menu{
        height: 20px;
    }
    .menu li{
        width: 150px;
        height: 35px;
    }  
    .language-es img{
        width: 40px;
    }
    .language-en img{
        width: 40px;
    } 
    h1{
        font-size: 45px;
    }
    .txt{
        font-size: 50px;
    }
    #Home{
        margin-top: 75px;
        height: 550px;
    }
    .menu li:hover a{
        font-size: 19px;
    }   
}
@media (max-width:900px){
    header{
        height: 50px;
    }
    .progress{
        width: 400px;
    }
    .Luisana{
        width: 340px;
        height: 330px;
    }
    h1{
        font-size: 40px;
     }
     #Home{
        margin-top: 60px;
        height: 530px;
    }
    .subtittle{
        font-size: 30px;
    }
    .txt{
        font-size: 45px;
    }
    .container{
        top: 35%;
        left: 16%;
    }
    .menu{
        display: block;
        position: absolute;
        top: 40px;
        right: 0;
        background-color: rgb(0, 0, 0);
        height: 200px;
        margin: 0%;
        padding-left: 0%;
        padding-bottom: 6%;
        box-shadow: 0px 5px 20px blue;
        opacity: .9;
        transform: translateX(400px);
    }
    .menu li{
        width: 150px;
        height: 42px;
        box-shadow: 0px 0px 0px blue;
    }
    .checkbtn{
        display: block;
    }
    .A{
        margin-left: 0%;
    }  
    .menu li:hover{
        box-shadow: 0px 0px 0px #00f8f8f6;
    }
    .menu li:hover a{
        font-size: 19px;
    }   
    .language-es img{
        width: 50px;
        margin-top: 4%;
        margin-left: 40%;
    }
    .language-en img{
        width: 50px;
        margin-top: 4%;
        margin-left: 40%;
    } 
    
    .checkbtn:hover, .checkbtn.active{
        background: none;
        color: rgb(0, 26, 255);
    }
    #check:checked ~ ul{
        transform: translateX(0px);
    }
    .contenido-slider{
        height: 350px;
    }
    .progresshtml{
        height: 35px;
    }
    .progresscss{
        height: 35px;
    }
    .progressjs{
        height: 35px;
    }
    .progressphp{
        height: 35px;
    }
    .progressjava{
        height: 35px;
    }
    .contenido-slider h2{
        font-size: 29px;
    }
    .Button {
        margin-left: 37% ;
        margin-bottom: 5% ;
        width: 220px;
        height: 80px;
        font-size: 25px;
    }
}
@media (max-width:700px){
    header{
        height: 54px;
        
    }
    .progress{
        width: 300px;
        height: 35px;
    }
    .Luisana{
        width: 280px;
        height: 270px;
    }
    h1{
        font-size: 30px;
     }
     #Home{
        height: 390px;
        margin-top: 50px;
    }
    .subtittle{
        font-size: 25px;
    }
    .txt{
        font-size: 50px;
    }
    .container{
        top: 38%;
        left: 16%;
    }
    .contenido-slider h2{
        font-size: 24px;
    }
    .Button {
        margin-left: 30% ;
        margin-bottom: 5% ;
    }
    .project{
        width: 310px;
        height: 250px;  
    }
    .project p{
        margin: 3%;
        color: white;
        padding-bottom: 1%;
        font-size: 11px;
    }
    .proyecto{
       width: 250px;
       margin: 9%;
       margin-bottom: -1%;
    }
    .redes-container{
        font-size: 25px;
    }
    .redes-container ul li{
        height: 60px;
        width: 60px;
    }
    .redes-container ul li a{
        line-height: 60px;
    }
    
    .Button {
        margin-left: 35% ;
        margin-bottom: 5% ;
        width: 200px;
        height: 70px;
        font-size: 20px;
    }
}
@media (max-width:550px){
    h1{
        margin-top: 10%;
        font-size: 25px;
     }
     .Button {
        margin-left: 31% ;
    }
}
@media (max-width:500px){
    header{
       height: 50px;
    }
    .language-es img{
        width: 35px;
        margin-top: 1%;
    }
    .language-en img{
        width: 35px;
        margin-top: 1%;
    } 
    .progress{
        height: 30px;
        width: 200px;
    }
    .Luisana{
        width: 210px;
        height: 200px;
    }
    h1{
        margin-top: 10%;
        font-size: 20px;
     }
     #Home{
        height: 300px;
    }
    .subtittle{
        font-size: 25px;
    }
    .txt{
        font-size: 40px;
    }
    .contenido-slider{
        height: 300px;
    }
    .progresshtml{
        height: 30px;
    }
    .progresscss{
        height: 30px;
    }
    .progressjs{
        height: 30px;
    }
    .progressphp{
        height: 30px;
    }
    .progressjava{
        height: 30px;
    }
    .contenido-slider h2{
        font-size: 23px;
    }
    .Button {
        margin-left: 33% ;
        margin-bottom: 5% ;
        width: 150px;
        height: 50px;
        font-size: 15px;
    }
    .project{
        width: 210px;
        height: 200px;  
    }
    .project p{
        margin: 3%;
        color: white;
        padding-bottom: 1%;
        font-size: 10px;
    }
    .proyecto{
       width: 180px;
       margin: 7% ;
       margin-bottom: -2%;
    }
}
@media (max-width:400px){
    .progress{
        width: 100px;
    }
    .Luisana{
        width: 150px;
        height: 120px;
        margin-top: 20%;
    }
    h1{
        font-size: 18px;
        margin-top: 15%;
     }
    #Home{
        height: 270px;
    }
    .subtittle{
        font-size: 15px;
    }
    .txt{
        font-size: 35px;
    }
    .Button {
        margin-left: 32% ;
    }
}
@media (max-width:300px){
    .progress{
        width: 100px;
    }
    .Luisana{
        width: 150px;
        height: 120px;
    }
    h1{
        font-size: 15px;
     }
    #Home{
        height: 280px;
    }
    .subtittle{
        font-size: 15px;
    }
    .txt{
        font-size: 35px;
    }
    .Button {
        margin-left: 25% ;
    }
}